<% errors.forEach(function(err){ %>
      <div class="alert alert-danger text-center"><%= err %></div>  
<% }) %>
<% success.forEach(function(success){ %>
      <div class="alert alert-success text-center"><%= success %></div>  
<% }) %>