		
		<!-- BEGIN FOOTER -->
		<footer id="footer">
			<div id="footer-top" class="container">
				<div class="row">
					<div class="block col-sm-4">
						<a href="index.html" class="footer-logo"><img src="images/logo_dark.png" alt="Rider Logo" /></a>
						
						<p>Rider is a simple clean and modern HTML template perfect to promote any business. This template has a lot of useful features and it's highly customizable so you can turn it into your own awesome website.</p>
						
						<!-- BEGIN SOCIAL NETWORKS -->
						<ul class="social-networks">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
						<!-- END SOCIAL NETWORKS -->
					</div>
					
					<div class="block col-sm-4">
						<h4>Get in Touch</h4>
						<p>Rider is a simple clean and modern HTML template perfect to promote any business.</p>
						<ul class="footer-contacts">
							<li><label><i class="fa fa-phone"></i> Phone Number:</label> +351 123 456 789</li>
							<li><label><i class="fa fa-envelope-o"></i> E-mail:</label> <a href="mailto:email@yourbusiness.com">email@yourbusiness.com</a></li>
							<li><label><i class="fa fa-clock-o"></i> Business Hours:</label> Monday - Friday 10AM - 7PM</li>
						</ul>
					</div>
					
					<div class="block col-sm-4">
						<h4>Latest Posts</h4>
						<ul class="footer-latest-posts">
							<li>
								<div class="image">
									<a href="blog-detail.html"><img src="http://placehold.it/60x60" alt="" /></a>
								</div>
								<div class="title">
									<a href="blog-detail.html">5 Ways to Make Your Website Stand Out. <span class="date">April 15, 2017</span><i class="fa fa-angle-right"></i></a>
								</div>
							</li>
							<li>
								<div class="image">
									<a href="blog-detail.html"><img src="http://placehold.it/60x60" alt="" /></a>
								</div>
								<div class="title">
									<a href="blog-detail.html">How to Succeed With Design Thinking. <span class="date">April 15, 2017</span><i class="fa fa-angle-right"></i></a>
								</div>
							</li>
							<li>
								<div class="image">
									<a href="blog-detail.html"><img src="http://placehold.it/60x60" alt="" /></a>
								</div>
								<div class="title">
									<a href="blog-detail.html">Designing for Mobile App Commerce.  <span class="date">April 15, 2017</span><i class="fa fa-angle-right"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			
			<!-- BEGIN COPYRIGHT -->
			<div id="copyright">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							&copy; 2017 Rider - Multi-Purpose template. All rights reserved. Developed by <a href="http://www.wiselythemes.com" target="_blank">WiselyThemes</a>
							
							<ul class="footer-links">
								<li><a href="#">Home</a></li>
								<li><a href="#">Pages</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						
						</div>
					</div>
				</div>
				
				<a href="#header" class="to-top scrollto"><i class="fa fa-angle-up"></i></a>
			</div>
			<!-- END COPYRIGHT -->
			
		</footer>
		<!-- END FOOTER -->
	
	</div>
	<!-- END WRAPPER -->
	
	
	<!-- Libs -->
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/common.js"></script>
	
	<!-- Template Scripts -->
	<script src="/js/variables.js"></script>
	<script src="/js/scripts.js"></script>