<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Page Title -->
	<title>ATech .co</title>
	
	<meta name="keywords" content="comprehensive technological experience" />
	<meta name="description" content="ATech .co" />
	<meta name="author" content="Afiq Syazwan" />
	
	<!-- Mobile Meta Tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" type="/image/x-icon" href="images/fav_touch_icons/favicon.ico" />
	<link rel="apple-touch-icon" href="/images/fav_touch_icons/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/fav_touch_icons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/fav_touch_icons/apple-touch-icon-114x114.png" />
	  <link rel="stylesheet" href="/css/main.css">

	
	<!-- IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
	<![endif]-->
	
	<!-- Google Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,600%7COpen+Sans:400,700,400italic" rel="stylesheet">
	
	<!-- Bootstrap CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	
	<!-- Template CSS -->
	<link href="/css/style.css" rel="stylesheet" />
	
	<!-- Modernizr -->
	<script src="/js/modernizr-3.3.1.min.js"></script>
</head>
<body>
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
	
		<!-- BEGIN HEADER -->
		<header id="header">
			
			<div id="nav-section">
				<div id="nav-section-container">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<a href="index.html" class="nav-logo"><img src="/images/logo.png" alt="Rider Logo" /></a>
								
								<div class="search-wrap">
									<i class="fa fa-search btn-search"></i>
								</div>
								
								<!-- BEGIN MAIN MENU -->
								<nav class="navbar">
									<button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>
									
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="/">Home</a>
										</li>
										<li class="dropdown">
											<a href="/blog">Blog</a>
										</li>
										<li class="dropdown">
											<a href="/gallery">Gallery</a>
										</li>
										<li><a href="#" data-toggle = "dropdown" data-hover="dropdown">Login/Register<b class="caret"></b></a>
											<ul class="dropdown-menu">
											<li><a href="/login">Login</a></li>
											<li><a href="/register">Register</a></li>
											</ul>
										</li>
									</ul>
									
								</nav>
								<!-- END MAIN MENU -->
								
							</div>
						</div>
					</div>
				</div>
				
				<form id="search-form">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<input class="sb-search-input" placeholder="Search..." type="text" value="" name="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<i class="fa fa-search sb-icon-search"></i>
							</div>
						</div>
					</div>
				</form>
			</div>
		</header>
		<!-- END HEADER -->
		