<%- include('partials/header') %>
	
		<!-- BEGIN PAGE TITLE/BREADCRUMB -->
		<div id="page-title" class="parallax dark-bg" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="page-title">Gallery Sidebar 2</h1>
						
						<ul class="breadcrumb">
							<li><a href="index.html">Home </a></li>
							<li><a href="#">Pages</a></li>
							<li><a href="#">Gallery</a></li>
							<li><a href="gallery-sidebar2.html">Gallery Sidebar 2</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE TITLE/BREADCRUMB -->
		
		
		<!-- BEGIN CONTENT WRAPPER -->
		<div class="content">
			<div class="container">
				<div class="row">
				
					<!-- BEGIN MAIN CONTENT -->
					<div class="main col-sm-8">
							
						<div id="gallery-grid-header">
							<a href="#" class="active">All</a>
							<a href="#">Graphic Design</a>
							<a href="#">Web Design</a>
							<a href="#">Photography</a>
						</div>
						
						
						<!-- BEGIN GALLERY GRID -->
						<div id="gallery-grid" class="grid-style clearfix">
							<div class="row">
								<div class="item col-md-12">
									<div class="image">
										<div class="gallery-info">
											<div>
												<h3>Project Name<small>Creative | Design</small></h3>
												
												<a href="gallery-detail.html"><i class="fa fa-link"></i></a>
												<a href="http://placehold.it/771x340" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><i class="fa fa-search"></i></a>
											</div>
										</div>
										<img src="http://placehold.it/771x340" alt="" />
									</div>
								</div>
								
								<div class="item col-md-12">
									<div class="image">
										<div class="gallery-info">
											<div>
												<h3>Project Name<small>Creative | Design</small></h3>
												
												<a href="gallery-detail.html"><i class="fa fa-link"></i></a>
												<a href="http://placehold.it/771x340" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><i class="fa fa-search"></i></a>
											</div>
										</div>
										<img src="http://placehold.it/771x340" alt="" />
									</div>
								</div>
								
								<div class="item col-md-12">
									<div class="image">
										<div class="gallery-info">
											<div>
												<h3>Project Name<small>Creative | Design</small></h3>
												
												<a href="gallery-detail.html"><i class="fa fa-link"></i></a>
												<a href="http://placehold.it/771x340" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><i class="fa fa-search"></i></a>
											</div>
										</div>
										<img src="http://placehold.it/771x340" alt="" />
									</div>
								</div>
								
								<div class="item col-md-12">
									<div class="image">
										<div class="gallery-info">
											<div>
												<h3>Project Name<small>Creative | Design</small></h3>
												
												<a href="gallery-detail.html"><i class="fa fa-link"></i></a>
												<a href="http://placehold.it/771x340" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><i class="fa fa-search"></i></a>
											</div>
										</div>
										<img src="http://placehold.it/771x340" alt="" />
									</div>
								</div>
								
								<div class="item col-md-12">
									<div class="image">
										<div class="gallery-info">
											<div>
												<h3>Project Name<small>Creative | Design</small></h3>
												
												<a href="gallery-detail.html"><i class="fa fa-link"></i></a>
												<a href="http://placehold.it/771x340" data-gal="prettyPhoto[gallery]" title="Lorem ipsum"><i class="fa fa-search"></i></a>
											</div>
										</div>
										<img src="http://placehold.it/771x340" alt="" />
									</div>
								</div>
							</div>
								
						</div>
						<!-- END GALLERY GRID -->
						
						
						<!-- BEGIN PAGINATION -->
						<div class="pagination">
							<div id="previous"><a href="#"><i class="fa fa-angle-left"></i></a></div>
							<ul>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
							</ul>
							<div id="next"><a href="#"><i class="fa fa-angle-right"></i></a></div>
						</div>
						<!-- END PAGINATION -->
						
					</div>	
					<!-- END MAIN CONTENT -->
					
					
					<!-- BEGIN SIDEBAR -->
					<div class="sidebar col-sm-4">
					
						<div class="widget widget_search">
							<form id="searchform" role="search" method="get" action="">
								<input id="s" class="search" value="" placeholder="Search.." name="s" type="text">
								<button id="submit_btn" class="search-submit" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
						
						
						<div class="widget widget_categories">
							<h2 class="section-title"><strong>Categories</strong></h2>
							<ul class="categories">
								<li><a href="#">Travel tips <span>(2)</span></a></li>
								<li><a href="#">Photography <span>(1)</span></a></li>
								<li><a href="#">Travel gear <span>(3)</span></a></li>
								<li><a href="#">Europe <span>(2)</span></a></li>
								<li><a href="#">America <span>(6)</span></a></li>
								<li><a href="#">Asia <span>(1)</span></a></li>
								<li><a href="#">Blogging advice <span>(1)</span></a></li>
							</ul>
						</div>
						
						
						<div class="widget widget_archives">
							<h2 class="section-title"><strong>Archives</strong></h2>
							<div id="accordion" class="panel-group">
								<div class="panel">
									<div class="panel-heading">
										<div class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
												<i class="fa fa-chevron-right"></i> 2017 (15)
											</a>
										</div>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											<ul>
												<li><a href="#">July (3)</a></li>
												<li><a href="#">June (4)</a></li>
												<li><a href="#">May (1)</a></li>
												<li><a href="#">April (2)</a></li>
											</ul>
										</div>
									</div>
								</div>
								
								<div class="panel">
									<div class="panel-heading">
										<div class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
												<i class="fa fa-chevron-right"></i> 2016 (6)
											</a>
										</div>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li><a href="#">May (1)</a></li>
												<li><a href="#">April (2)</a></li>
												<li><a href="#">March (1)</a></li>
												<li><a href="#">February (2)</a></li>
												<li><a href="#">January (1)</a></li>
											</ul>
										</div>
									</div>
								</div>
								
								<div class="panel">
									<div class="panel-heading">
										<div class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
												<i class="fa fa-chevron-right"></i> 2015 (5)
											</a>
										</div>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li><a href="#">April (1)</a></li>
												<li><a href="#">March (1)</a></li>
												<li><a href="#">February (2)</a></li>
												<li><a href="#">January (1)</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="widget widget_recent_entries">
							<h2 class="section-title">Popular <strong>Posts</strong></h2>
							
							<ul>
								<li>
									<div class="image">
										<a href="blog-detail.html"></a>
										<img src="http://placehold.it/433x433" alt="" />
									</div>
									
									<ul class="top-info">
										<li><i class="fa fa-calendar"></i> July 30, 2017</li>
									</ul>
										
									<h3><a href="blog-detail.html">10 Tips on How to Save for Travel</a></h3>
								</li>
								<li>
									<div class="image">
										<a href="blog-detail.html"></a>
										<img src="http://placehold.it/433x433" alt="" />
									</div>
									
									<ul class="top-info">
										<li><i class="fa fa-calendar"></i> July 24, 2017</li>
									</ul>
										
									<h3><a href="blog-detail.html">Packing Tips for World Travelers</a></h3>
								</li>
								<li>
									<div class="image">
										<a href="blog-detail.html"></a>
										<img src="http://placehold.it/433x433" alt="" />
									</div>
									
									<ul class="top-info">
										<li><i class="fa fa-calendar"></i> July 05, 2017</li>
									</ul>
									
									<h3><a href="blog-detail.html">How to Choose the Best Travel Camera</a></h3>
								</li>
							</ul>
						</div>
						
						<!-- BEGIN TAGS -->
						<div class="widget widget_tags">
							<h2 class="section-title"><strong>Tags</strong></h2>
							
							<ul>
								<li><a href="#">Travel</a></li>
								<li><a href="#">Holidays</a></li>
								<li><a href="#">Tips</a></li>
								<li><a href="#">Photography</a></li>
								<li><a href="#">Beach</a></li>
								<li><a href="#">Adventure</a></li>
								<li><a href="#">Budget</a></li>
								<li><a href="#">America</a></li>
								<li><a href="#">Africa</a></li>
								<li><a href="#">Australia</a></li>
							</ul>
						</div>
						<!-- BEGIN TAGS -->
						
					</div>
					<!-- END SIDEBAR -->

				</div>
			</div>
		</div>
		<!-- END CONTENT WRAPPER -->


<%- include('partials/footer') %>