*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* overflow: hidden or auto or scroll or visible;
overflow-y or overflow-x */

:root{
    --green: #06d755;
    --backgroundColor: #ededed;
}


/* Notification
 */

 .notification{
     position: absolute;
     min-width: 100vw;
     min-height: 50px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     background-color: transparent;
     z-index: 21;
     transform: translateY(-60px);
     transition: transform .5s ease-in-out;

 }

 .noty-box{
     width: 500px;
     height: 40px;
     display: flex;
     justify-content: center;
     padding: 10px;
     border-radius: 0 0 10px 10px;

 }
 .success{
    background-color: var(--green);
 }

 .error{
     background-color: rgb(221, 21, 21);
 }

 .noty-show{
     transform: translateY(0);
 }

.align{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.rows{
    width: 100%;
    max-width: 100%;
}

.channel{
    margin: 0;
    max-width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.channel-header{
    width: 100%;
    height: 20%;
    background-color: #ededed;
    /* padding: 10px 20px; */
    position: relative;
    border-right: .2px rgba(206, 206, 206, 0.3) solid;
    border-bottom: .2px rgba(206, 206, 206, 0.3) solid;
}

.profile-nav{
    padding: 15px 15px 15px;
    position: relative;
    border-bottom: .2px rgba(206, 206, 206, 0.3) solid;

}

.search{
    padding: 10px;
    background: rgba(255, 249, 249, 0.7);


}
.other-icons{
    display: flex;
    position: absolute;
    right: 15px;
    transform: translateY(50%);
    
}

/* .profile-icon{
    position: relative;
    top: 0;
    left: 0;
} */

.profile-image{

    border-radius: 50%;
    width: 50px;
    transition: width .3s;
    transform-origin: center;
    cursor: pointer;

}

.profile-image:hover{
    width: 60px;
}

.fas{
    margin: 4px;
    cursor: pointer;
}

img{
    width: 100%;
    max-width: 100%;
}

.channel-list{
    /* margin: 10px 0px;
    padding: 15px 10px; */
    background: white;
    cursor: pointer;
    width: 100%;
    height: 80%;
    background: rgba(172, 172, 172, 0.3);
    overflow-y: scroll;
    

}

.icon{
    width: 100%;
    max-width: 50px;
    margin: 0 15px;
    
}

.icon > img{
    border-radius: 50%;
    margin: 0 10px;
}

.channel-detail{
    position: relative;
    width: 100%;
    max-width: 85%;
    margin-left: 5px;
    
}

.fas{
    display: inline-block;
    position: relative;
    transform: translateY(50%);
    right: 10px;
    font-size: 20px;
    margin: 0 20px;
    color: #6e6e6e;
    transition: color .2s ease-in-out;

}

.fas:hover{
    color: #383838;
}



.form-search{
    border-radius: 20px;
    padding: 20px;
    background-clip: padding-box;
}

.search i{
    width: 20px;
    position: absolute;
    padding: 1px 0 0 0;
    transform: translateY(50%);
    left: 10px;
    font-size: 19px;
}

.search input::placeholder,
.search input::-webkit-input-placeholder{
    padding-left: 30px;
}


.channel-information{
    margin: 0;
    max-width: 100%;
    padding: 15px 0;
    background: white;
    transition: background .3s, color .1s, border-bottom .1s;
    border-bottom: .2px rgba(243, 243, 243, 0.9) solid;
    border-right: .2px rgba(243, 243, 243, 0.9) solid;

}

.channel-information:hover{
    background: rgba(243, 243, 243, 0.5);
    color: black;
    border-bottom: white;

}

.separator{
    transform: translateX(30%);
    text-align: center;
    width: 100%;
    max-width: 50%;
    height: .1rem;
    align-content: center;
    background-color:grey;
    position: relative;
}


.channel-title, .channel-description{
    width: 80%;
    margin-bottom: 5px;
    max-width: 100%;
    
}

.time, .message-number{
    position: absolute;
    right: 20px;
    
}

.time{
    top: 0;
    color: #9e9d9d;
}

.message-number{
    bottom: 0;
    width: 25px;
    height: 25px;
    padding: 10 5px 0;
    background-color: var(--green);
    border-radius: 500%;
}

/* chat section */
.chat{

    display: none;
    background-color: #f8f9fa;
    width: 100%;
    height: 100vh;
    max-width: 60%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

}
.show{
    display: block;
}

.channel-list::-webkit-scrollbar, .chat-log::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
.channel-list::-webkit-scrollbar-track, .chat-log::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.channel-list::-webkit-scrollbar-thumb, .chat-log::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.channel-list::-webkit-scrollbar-thumb:hover, .chat-log::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.chat-header{
    width: 100%;
    max-width: 60%;
    height: 80px;
    background-color: var(--backgroundColor);
    position: fixed;
    z-index: 2;
    border-bottom: .2px rgba(206, 206, 206, 0.3) solid;
    
}



.chat-input{
    width: 100%;
    max-width: 60%;
    height: 70px;
    background-color: var(--backgroundColor);
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: .2px rgba(206, 206, 206, 0.3) solid;

}

.channel-list .active{
    background: rgba(201, 201, 201, 0.4);
    color: black;
}
.chat-profile{
    width: 8%;
    height: 60px;
    margin: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat-information{
    width: 72%;
    display: block;
    margin: auto 0;
    /* padding: 15px; */
}

.chat-information h5{
    margin: 0;
}
.chat-icon{
    margin: 15px 0;

}

.chat-profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.input-icon{
    margin: 15px 0;
}

.form-message{
    width: 100%;
    max-width: 75%;
    display: flex;
    align-items: center;
    
}

input:focus{
    border: none;
}

.form-message input{
    padding: 10px;
    width: 700px;
    max-width: 100%;
    border-radius: 30px;
    border: 2px rgba(126, 126, 126, 0.7) solid;
    transition: border .5s;

}

.form-message input::placeholder{
    padding: 10px;
}

.form-message input[type=text]:focus{
    border-radius: 30px;
    border: 3px rgb(139, 139, 196) solid;
    background-color: white;
    outline: 0;
}

.mic{
    position: absolute;
    right: 15px;
}
.chat-log{
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    height: 600px;
    padding-bottom: 10px;
    margin: 80px 0 0px;
    display: block;
    align-items: center;
    overflow: scroll;
}

.chat-log-box .chat-box-me{
    margin-top: 10px;
    max-width: 60%;
    max-height: 100px;
    float: right;
}

.chat-box-me {
    padding: 10px;
    position: relative;
    min-height: 10px;
    margin-right: 10px;
    border: .2px rgba(126, 126, 126, 0.3) solid;
    border-radius: 10px 0 10px 10px;
    float: right;
    color:black;
    background-color:#1ef04c;

    box-shadow: 0 1px 1px rgba(126, 126, 126, 0.6);
  }
  .chat-box-me p{
      max-width: 100%;
      margin: 0;
  }

  .chat-box-other{
    padding: 10px;
    position: relative;
    border: .2px rgba(126, 126, 126, 0.3) solid;
    border-radius: 0px 8px 8px 8px;
    margin-left: 15px;
    color:black;
    float: left;
    box-shadow: 0 1px 1px rgba(126, 126, 126, 0.6);
    background-color:#ffffff;
  }

  .box-clear::after {
    display: block;
    clear: both;
    content: ""
  }

.name, .title, .message, .description{
    margin: 0;
}
  /* .chat-box-me:after {
    content: "";
    position:absolute;
    margin-top: -5px;
    margin-left:-8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    transform:rotate(-45deg);
    outline: #555 solid .2px;
    right: -15px; 
    top: 10px;
  }  */

.intro-chat-log{
    
    position: absolute;
    display: block;
    right: 150px;
    top: 100px;
    text-align: center;
}
.intro-chat-log svg{
    height: 400px;
    width: 400px;
}

.intro-message{
    font-weight: 400;
    font-size: 16px;
    margin:20px;
    text-align: center;
    
}



.modal{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    background-color: rgba(126, 126, 126, 0.7);
    opacity: 0;
    /* display: flex; */
    justify-content: center;
    transition: opacity .5s ease-in;

}
.modal-active{
    display: flex;
    opacity: 1;
}
.modal-box{
    min-width: 300px;
    max-height: 300px;
    background-color: white;
    margin: auto 0;
    display: block;
    padding: 20px;
    border-radius: 8px;
}
.modal-title{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 15px 0;
}
.modal-title h4{
    margin: 0;
}

.modal-title i{
    font-size: 15px;
    justify-content: flex-end;
    text-align: center;
    transform: rotate(45deg);
    margin: 0;
}

.modal-footer button{
    padding: 8px;
    border-radius: 10px;
    size: 14px;
    background-color: #06d755;
    color: black;
    border: none;
    font-weight: 500;
}

.modal-footer button:hover{
    background-color: #42c574;
    color: black; 
}

.modal-form{
    width: 100%;
    margin: 0px 0px 10px;

}

.modal-form input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}

.chat-front{
    height: 100vh;
}


